In [1]:
jogador_loteria_1 = {
    'nome': 'Pedro',
    'numeros': (13,4,52,23,67,82)
}

In [2]:
jogador_loteria_2 = {
    'nome': 'Pedro',
    'numeros': (13,4,52,23,67,82)
}

In [3]:
jogador_loteria_1 == jogador_loteria_2

True

In [4]:
# Classe é um modelo ou uma representação de um objeto
# Objeto é uma instancia de uma classe

In [15]:
class JogadorLoteria:
    def __init__(self):
        self.nome = "Pedro"
        self.numeros = (13,4,52,23,67,82)
    def total(self):
        return sum(self.numeros)

In [23]:
jogador_1 = JogadorLoteria()

In [25]:
jogador_2 = JogadorLoteria()

In [10]:
jogador_1.nome

'Pedro'

In [26]:
jogador_2.nome

'Pedro'

In [11]:
jogador_1.numeros

(13, 4, 52, 23, 67, 82)

In [24]:
jogador_1.total()

241

In [27]:
jogador_2.total()

241

In [28]:
jogador_1 == jogador_2

False

In [29]:
class JogadorLoteria:
    def __init__(self,nome):
        self.nome = nome
        self.numeros = (13,4,52,23,67,82)
    def total(self):
        return sum(self.numeros)

In [30]:
jogador_1 = JogadorLoteria('Ana')

In [31]:
jogador_2 = JogadorLoteria('Felipe')

In [32]:
jogador_1.nome

'Ana'

In [33]:
jogador_2.nome

'Felipe'